.env
.venv/

logs/
log/

.ipynb_checkpoints/
*checkpoint.ipynb
.git/
lib/
build/
downloads/
dist/

*.mp3
*.wav

*.webm
*.mp4
*.avi
*.mkv

*.png
*.jpg
*.jpeg
*.tiff

*.pt
*.pth
*.obj

*.csv

*.h5
*.keras

*.pem
*.key
*.cert

*-ubyte
*-ubyte.gz
